{% extends app.request.isxmlhttprequest ? "::article.html.twig" : "::backend.html.twig" %}
{% block article %}
<h2 class="sub-header">Categories List</h2>
<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-4">
                <b>Name</b>
            </div>
            <div class="col-md-4">
                <b>Parent Category</b>
            </div>
            <div class="col-md-1">
                <b>Order</b>
            </div>
            <div class="col-md-1">
                <b>Visible</b>
            </div>
            <div class="col-md-2">
                <b>Options</b>
            </div>
        </div>
        {% set count = 0 %}
        {% for category in categories %}
        {% if count % 2 == 0 %}
        <div id ="categoria_{{category.id}}" class="row pair">
            {% else %}
            <div id ="categoria_{{category.id}}" class="row odd">
                {% endif %}
                <div class="col-md-4">
                    <a class="ajax-url" data-url="{{path('backend_category_show',{'id':category.id})}}">{{ category }}</a>
                </div>
                <div class="col-md-4">
                    {% if category.parent is null%}
                        <p>Root</p>
                    {% else %}
                        <a class="ajax-url" data-url="{{path('backend_category_show',{'id':category.parent.id})}}">{{category.parent}}</a>
                    {% endif %}
                </div>
                <div class="col-md-1" style="text-align:center;">
                    {{ category.order }}
                </div>
                <div class="col-md-1">
                    {{ category.visible  }}
                </div>
                <div class="col-md-2">
                                <span class="btn dropdown-toggle btn-info col-md-12" data-toggle="dropdown" >
                                    <span class="glyphicon glyphicon-cog"></span>
                                    <span class="icon-cog icon-white"></span><span class="caret"></span>
                                </span>
                    <ul class="dropdown-menu col-md-10">
                        <li>
                            <a class="ajax-url" data-url="{{ path('backend_category_show', { 'id': category.id }) }}">Details</a>
                        </li>
                        <li>
                            <a class="ajax-url" data-url="{{ path('backend_category_edit', { 'id': category.id }) }}">Modify</a>
                        </li>
                        <li>
                            <a class="eliminar" id="{{category.id}}">
                                Borrar
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            {% set count = count + 1 %}
            {% endfor %}
        </div>
    </div>
{% endblock %}