{% extends app.request.isxmlhttprequest ? "::article.html.twig" : "::backend.html.twig" %}
{% block article %}
<div class="panel panel-info">
    <div class="panel-heading">
        <h1>Edit Difficulty</h1>
    </div>
    <div class="panel-body">
        {{ form_start(form) }}
            {{ form_errors(form) }}

            <div class="row col-md-12">
                {{ form_label(form.name, 'Name') }}
                {{ form_errors(form.name) }}
                {{ form_widget(form.name, { 'attr': { 'class': 'form-control name' , 'data-url':  path('slugger',{'string': ' '}) } }) }}
            </div>

            <div class="row">
                <div class="col-md-12">
                    {{ form_label(form.slug, 'Slug') }}
                    {{ form_errors(form.slug) }}
                    {{ form_widget(form.slug, { 'attr': { 'class': 'form-control slug' } }) }}
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <p class="col-md-10 btn btn-lg btn-success ajax-url" data-url="{{ path('backend_difficulty_index') }}">Back</p>
                </div>
                <div class="col-md-6">
                    {{ form_widget(
                        form.save,
                        { 'attr':
                            {
                                'class' : 'btn btn-lg btn-warning col-md-10 pull-right ajax-post',
                                'data-url':  path('backend_difficulty_update',{'id': entity.id})
                            }
                        }) }}
                </div>
            </div>
        {{ form_end(form) }}
        <div id="errores">
        </div>
    </div>
</div>
{% endblock %}
