{% extends app.request.isxmlhttprequest ? "::article.html.twig" : "::backend.html.twig" %}
{% block article %}
<div class="panel panel-info">
    <div class="panel-heading">
        <h2 class="sub-header">Category Data</h2>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-4">
                <strong>Id</strong>
            </div>
            <div class="col-md-4">
                {{entity.id}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <strong>Title</strong>
            </div>
            <div class="col-md-4">
                {{entity.title}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <strong>Slug</strong>
            </div>
            <div class="col-md-4">
                {{entity.slug}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <strong>Description</strong>
            </div>
            <div class="col-md-4">
                {{entity.description}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <strong>Category</strong>
            </div>
            <div class="col-md-4">
                <a class="ajax-url" data-url="{{path('backend_category_show',{'id':entity.category.id})}}">{{entity.category}}</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <strong>Difficulty</strong>
            </div>
            <div class="col-md-4">
                <a class="ajax-url" data-url="{{path('backend_difficulty_show',{'id':entity.difficulty.id})}}">{{entity.difficulty}}</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <strong>Quantity of People</strong>
            </div>
            <div class="col-md-4">
                {{entity.quantityOfPeople}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <strong>calories</strong>
            </div>
            <div class="col-md-4">
                {{entity.calories}}
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <a class="col-md-10 btn btn-lg btn-success ajax-url " data-url="{{ path('backend_category_index') }}">
            Back
        </a>
    </div>
    <div class="col-md-4">
        <a class="col-md-10 btn btn-lg btn-info ajax-url" data-url="{{ path('backend_category_edit', { 'id': entity.id }) }}">
            Modify Category
        </a>
    </div>
    <div class="col-md-4">
        <a class="col-md-10 btn btn-lg btn-danger ajax-url" id="eliminar" data-message="¿Estás seguro de eliminar esta categoria?" data-url="{{ url('backend_category_delete', { 'id': entity.id }) }}" >
            Delete Category
        </a>
    </div>
</div>
{% endblock %}
